body {
    font-family:'Courier New', Courier, monospace;
    background-color: gainsboro; 
   margin-left: 130px;
   margin-top: 75px;
}

.image {
display: flex;
padding-left: 50px;
}

img {
    width: 200px;
}

h2 {
    padding-left: 30px;
}

ul {
    list-style-type: none;
    margin-left: 60px;
}

li {
    margin: 12px;
}

.text {
text-align: center;
display: flex;
flex-direction: column;
}
